@page "/TestPage1"
@using BootstrapBlazor.Components
@attribute [TabItemOption(Text="测试页面1")]


<h1>This page is fortest1</h1>


<BootstrapBlazor.Components.Button BootstrapBlazor.Components.Color="Color.Primary" Icon="fa-solid fa-font-awesome" Text="测试" />
@code {

}
